main {
  margin-top: 70px;
}

/* Pagina da programação das campanhas de doação de equipamentos */
/* e */
/* Pagina da programação das oficinas */
.donation-schedule {
  min-height: 100vh;
  padding: 5rem 2rem 6rem;
  position: relative;
}

.donation-header {
  text-align: center;
  max-width: 900px;
  margin: 0 auto 5rem;
}

.donation-header .subtitle {
  font-size: 1.8rem;
  color: #333;
  line-height: 1.6;
  margin-top: 1.5rem;
}

.donation-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

.donation-card {
  display: flex;
  align-items: stretch;
  background-color: #fff;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.donation-date {
  background-color: #056547;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  text-transform: capitalize;
}

.donation-date h3 {
  font-size: 4.5rem;
  margin: 0;
}

.donation-date p {
  font-size: 1.6rem;
}

.donation-info {
  padding: 2rem 3rem;
  font-size: 1.6rem;
  color: #222;
  line-height: 1.6;
}

.donation-info strong {
  color: #056547;
}

.donation-info .btn.participar {
  display: inline-block;
  background: linear-gradient(90deg, #2CA247, #48B76A);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 2.5rem;
  border-radius: 0.8rem;
  margin-top: 1.5rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.donation-info .btn.participar:hover {
  background: linear-gradient(90deg, #1E7A33, #3EA75B);
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Pagina da programação das palestras */
.project-page {
  color: white;
  min-height: 100vh;
  padding-top: 40px;

  font-size: 1.8rem;
  color: #333;
  line-height: 1.6;
  margin-top: 1.5rem;
}

.project-section {
  max-width: 800px;
  margin: 0 auto;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  padding: 3rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  color: #012b0d;
}

.project-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.project-form input[type="text"],
.project-form input[type="email"],
.project-form input[type="tel"] {
  width: 100%;
  padding: 1rem;
  border-radius: 0.6rem;
  border: 1px solid #ccc;
  font-size: 1.6rem;
}

.checkbox-group {
  display: flex;
  gap: 2rem;
  background: #f3f3f3;
  padding: 1rem;
  border-radius: 0.6rem;
}

.checkbox-group p {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #012b0d;
  font-size: 1.5rem;
}

.checkbox-group label {
  font-size: 1.5rem;
  color: #012b0d;
}

.project-form .btn:hover {
  background-color: #025c1c;
  transform: scale(1.03);
}

/*--*/
