/*-----------*/
.header {
    position: sticky;
}

.help-page {
  color: white;
  min-height: 100vh;
  padding-top: 40px;
}

.help-section {
  max-width: 800px;
  margin: 0 auto;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  padding: 3rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  color: #012b0d;
}

.help-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.help-form input[type="text"],
.help-form input[type="email"],
.help-form input[type="tel"],
.help-form textarea,
.help-form select {
  width: 100%;
  padding: 1rem;
  border-radius: 0.6rem;
  border: 1px solid #ccc;
  font-size: 1.6rem;
}

/*----------------------------------------*/

.donation-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1.5rem;
}

.qr-code {
  width: 250px;
  height: 250px;
  border-radius: 0.8rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.pix-code {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.pix-code input {
  flex: 1;
  padding: 0.8rem;
  border-radius: 0.6rem;
  border: 1px solid #ccc;
  background: white;
  font-size: 1.4rem;
}

.pix-code button {
  background-color: var(--dark-green-color);
  color: var(--light-green-color);
  padding: 0.8rem 1.5rem;
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.pix-code button:hover {
  background-color: #025c1c;
}

.bank-info {
  text-align: center;
  font-size: 1.6rem;
  color: #012b0d;
}

.bank-info img {
    height: 36px;
    width: 36px;
    margin: 10px;
}

.thank-you {
  margin-top: 2rem;
  font-style: italic;
  font-size: 1.5rem;
  color: #014c1f;
}

/* -----------------------------*/

.partnerships {
  text-align: center;
  padding: 4rem 2rem;
  color: #012B0D;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.partners-stats {
  margin: 2rem 0;
}

.partners-stats p {
    font-size: 1.7rem;
}

.partners-number {
  display: block;
  font-size: 6rem;
  font-weight: 700;
  color: #012B0D;
}

.cta {
    font-size: 1.1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2rem;
}

.social-links .icon {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-links .icon:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}